<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cade_a_nota.bigmini.com.br.cade_a_nota">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:theme">
        <activity android:name=".presentation.main.MainActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="6d729b03e4e82c992f99ede97cd4a4e428c30a29" />

        <activity
            android:name=".presentation.initial.InitialActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.scan.ScanActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>